
        /*
================================
Import CSS and Google Fonts
================================
*/
        
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700');
/*
================================
Global Styles
================================
*/


/* .sep {
    width: 100%;
    height: 1px;
    background: #ddd;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

.slicknav_menu {
    display: none;
    background: #f47a20;
}

.slicknav_btn {
    background-color: #fff;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #333;
    box-shadow: none;
}

.slicknav_menu .slicknav_menutxt {
    text-indent: -9999px;
}

.slicknav_menu .slicknav_icon {
    margin-left: 0;
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: 0.180em;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #333;
    transition: all 0.2s;
}

a:focus {
    outline: none;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
    margin-top: 0;
} */

/* a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;
    transition: all 0.2s;
} */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.bg-area {
    background: #F6F6F6;
}

.bg {
    position: absolute;
    background-color: #333;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='password'] {
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    transition: all 0.3s;
}

.form-group textarea {
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: none;
    transition: all 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 1px solid #ff430a;
    box-shadow: none;
}
/* Owl Carousel Fix Start */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
/* Headline */

.main-headline {
    text-align: center;
}

.headline {
    position: relative;
    margin-bottom: 30px;
}

.headline:before {
    position: absolute;
    content: '';
    width: 80px;
    height: 1px;
    background: #ff430a;
    bottom: -5px;
    left: 50%;
    margin-left: -40px;
}

.headline:after {
    position: absolute;
    content: '';
    width: 80px;
    height: 1px;
    background: #ff430a;
    bottom: -15px;
    left: 50%;
    margin-left: -40px;
}

.headline h2 {
    font-weight: 700;
    padding-bottom: 6px;
    margin-top: 0;
}

.headline h2:before {
    position: absolute;
    content: '';
    width: 120px;
    height: 1px;
    background: #ff6a00;
    bottom: -10px;
    left: 50%;
    margin-left: -60px;
}

.main-headline p {
    font-size: 14px;
    margin-bottom: 15px;
}

.main-headline.white {
    color: #fff;
}

.main-headline.white .headline:after,
.main-headline.white .headline:before,
.main-headline.white .headline h2:before {
    background: #fff;
}

.clear-two:nth-child(2n+1) {
    clear: both;
}

.clear-three:nth-child(3n+1) {
    clear: both;
}

.clear-four:nth-child(4n+1) {
    clear: both;
}
/*Preloader*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999999;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}
/* @media(max-aspect-ratio: 16/19) {
    #status {
        width: 500px;
        height: 500px;
        position: absolute;
        left: 5%;
        top: 50%;
        background-repeat: no-repeat;
        background-position: center;
        margin: -100px 0 0 -100px;
    }
} */
/*

-------------------------------
Menu-Area
-------------------------------
*/

.logo img {
    width: auto;
    height: 85px;
}

.sf-menu {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sf-menu li {
    height: auto;
    margin-top: 0;
    line-height: 75px;
    background: transparent;
    position: relative;
}

.sf-menu>li>a {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border: 0;
    color: #333;
    padding: 5px 25px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sf-menu li:first-child>a {
    border-top: 0;
}

.sf-menu>li>a:before {
    position: absolute;
    content: '';
    width: 0%;
    height: 4px;
    bottom: 0;
    left: 0;
    background: #ff430a;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.sf-arrows .sf-with-ul:after {
    border-top-color: #333;
}

.sf-arrows>li>.sf-with-ul:focus:after,
.sf-arrows>.sfHover>.sf-with-ul:after {
    border-top-color: #333;
}

.sf-arrows>li:hover>.sf-with-ul:after,
.sf-arrows>li.current_page_item>.sf-with-ul:after {
    border-top-color: #ff430a;
}

.sf-menu li:hover>a,
.sf-menu li.current_page_item a {
    background: #f5f5f5;
    color: #ff430a;
}

.sf-menu li:hover a:before,
.sf-menu li.current_page_item a:before {
    width: 100%;
}

.sf-menu ul {
    box-shadow: none;
    border-top: 0;
}

.sf-menu li:hover>ul {
    display: block;
    -moz-animation: zoomIn 0.4s ease 0s;
    -webkit-animation: zoomIn 0.4s ease 0s;
    animation: zoomIn 0.4s ease 0s;
}

.sf-menu li ul>li {
    min-width: 165px;
    height: auto;
    line-height: 34px;
    background: #ff430a;
    color: #fff;
    margin-right: 0;
    -webkit-transition: height 200ms ease-in;
    -moz-transition: height 200ms ease-in;
    -o-transition: height 200ms ease-in;
    transition: height 200ms ease-in;
}

.sf-menu li:hover li>a {
    color: #fff;
}

.sf-menu li li:hover>a {
    background: #444;
    color: #fff;
}

.sf-menu li li>a {
    font-size: 13px;
    font-weight: 400;
    border-left: 0;
    padding: 0;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.sf-menu li li:hover>ul {
    -moz-animation: slideInRight 0.3s ease;
    -webkit-animation: slideInRight 0.3s ease;
    animation: slideInRight 0.3s ease;
}

.sf-menu li li ul>li {
    border-left: 1px solid #aeaeae;
    margin-left: -1px;
}

.sf-menu li li:hover>a {
    padding-left: 25px;
}
/*
-------------------------------
Slider
-------------------------------
*/

.slider-item {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: #fff;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
}

.slider-bg {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    opacity: 100;
}

.slider-table {
    overflow: hidden;
    display: table;
    width: 100%;
    height: 500px;
    /* background-color: #000000; */
}

/* .back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100px;
    min-height: 200px;
    width: auto;
    height: auto;
    z-index: -100;
} */

/* @media(min-aspect-ratio: 16/19) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/19) {
    .back-video {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        width: auto;
        height: 100%;
        z-index: -1000;
    }
} */
.avatar {
    position:absolute;
    display: flex;
    align-items: top;
    justify-content: center;
}


/* @media(min-aspect-ratio: 16/19) {
    .avatar {
    position:absolute;
    display: flex;
    align-items: top;
    justify-content: center;
} 
}*/
   @media(max-aspect-ratio: 16/8) {
    .avatar {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}


.avatar .img-fluid {
    border-radius: 150px;
    border: none;
    height: 270px;
    width: 270px!important;
}
@media(max-aspect-ratio: 16/8) {
    .avatar .img-fluid {
        border-radius: 110px;
        border: none;
        height: 200px;
        width: 200px!important;
    }
}

.slider-text {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
}

.text-animated h1 {
    font-size: 40px;
    font-weight: 700;
    color: #ff430a;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.text-animated p {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.text-animated li {
    display: inline-block;
    margin-top: 22px;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.text-animated li a {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    background-color: #ff430a;
    color: #fff;
    border: 2px solid #ff430a;
    border-radius: 50px;
    padding: 11px 40px;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.text-animated li a:hover {
    background-color: #1F51FF;
    color: #fff;
    border: 2px solid #ff0000;
}
/*Nav*/

.slide-carousel {
    overflow: hidden;
}

.slide-carousel .owl-nav .owl-prev,
.slide-carousel .owl-nav .owl-next {
    text-align: center;
    font-size: 18px;
    position: absolute;
    width: 38px;
    height: 54px;
    line-height: 52px;
    top: 50%;
    margin-top: -25px;
    background: #ff430a;
    color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.slide-carousel .owl-nav .owl-prev {
    left: 0;
    margin-left: 0px;
}

.slide-carousel .owl-nav .owl-next {
    right: 0;
    margin-right: 0px;
}

.slide-carousel .owl-nav .owl-prev:hover,
.slide-carousel .owl-nav .owl-next:hover {
    background: #ff430a;
}
/*Slide-Dots*/

.slide-carousel .owl-dots {
    text-align: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -21px;
}

.slide-carousel .owl-dots .owl-dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    display: inline-block;
    margin: 0 4px;
}

.slide-carousel .owl-dots .owl-dot.active {
    background: #fff;
}

.single-feat-carousel:hover .featured-lightbox a {
    visibility: visible;
    opacity: 1;
}
/*Nav*/

.single-feat-carousel .owl-nav .owl-prev,
.single-feat-carousel .owl-nav .owl-next {
    position: absolute;
    text-align: center;
    width: 34px;
    height: 50px;
    line-height: 50px;
    top: 50%;
    margin-top: -25px;
    right: 0;
    font-size: 14px;
    background: #ff430a;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.single-feat-carousel .owl-nav .owl-prev {
    left: 0;
}

.single-feat-carousel:hover .owl-nav .owl-prev,
.single-feat-carousel:hover .owl-nav .owl-next {
    opacity: 1;
}

.single-feat-carousel .owl-nav .owl-prev:hover,
.single-feat-carousel .owl-nav .owl-next:hover {
    background: #444;
    color: #fff;
}

.featured-detail-mainbar {
    background: #f9f9f9;
    border: 2px solid #e6e6e6;
    padding: 15px;
}

.feat-detail-table .table {
    border: 1px solid #ddd;
    margin-bottom: 0;
}

.feat-detail-table .table tr td {
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #ddd;
    padding: 10px;
}

.feat-detail-table .table tr td.fea-name {
    font-weight: 600;
    width: 200px;
    color: #444;
}

.feat-detail-table .table iframe {
    width: 100%;
    height: 320px;
}


.team-item {
    border: 1px solid #ddd;
}

.team-photo {
    overflow: hidden;
    position: relative;
}

.team-photo img {
    width: 100%;
}

.team-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #444;
    visibility: hidden;
    opacity: 0;
    z-index: 9;
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Team-carousel Nav */

.team-carousel {
    overflow: hidden;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
    text-align: center;
    font-size: 18px;
    position: absolute;
    width: 34px;
    height: 50px;
    line-height: 48px;
    top: 50%;
    margin-top: -25px;
    background: #6c5ce7a8;
    color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.team-carousel .owl-nav .owl-prev {
    left: 0;
    margin-left: 0px;
}

.team-carousel .owl-nav .owl-next {
    right: 0;
    margin-right: 0px;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
    background: #ff430a;
}
/*team-Dots*/

.team-carousel .owl-dots {
    text-align: center;
    margin-top: 30px;
}

.team-carousel .owl-dots .owl-dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: #b9b9b9;
    display: inline-block;
    margin: 0 4px;
}

.team-carousel .owl-dots .owl-dot.active {
    background: #ff430a;
}
/*
-------------------------------
Team-Details
-------------------------------
*/

.team-detail-photo {
    text-align: center;
    max-width: 300px;
    background-color: #f5f5f5;
    padding: 30px;
}

.team-detail-photo h4 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
}

.team-detail-photo ul {
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.team-detail-photo ul li {
    text-align: center;
    display: inline-block;
    margin-right: 7px;
    margin-top: 5px;
}

.team-detail-photo ul li:last-child {
    margin-right: 0;
}

.team-detail-photo ul li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #ff430a;
    color: #fff;
    transition: all 0.3s;
}

.team-detail-photo ul li a:hover {
    background: #444;
    color: #fff;
}

.team-detail-text .headstyle h4 {
    font-size: 26px;
}

.team-detail-text li {
    font-weight: 600;
    margin-bottom: 7px;
}

.team-detail-text li:last-child {
    margin-bottom: 0;
}

.team-detail-text li i {
    color: #ff430a;
    margin-right: 7px;
}




.blog-item {
    border: 1px solid #f5f5f5;
}

.blog-image {
    overflow: hidden;
    position: relative;
}

.blog-image img {
    width: 100%;
    transform: scale(1);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.blog-item:hover .blog-image img {
    transform: scale(1.1);
}

.blog-image .date {
    text-align: center;
    position: absolute;
    bottom: -26px;
    right: 12px;
    padding: 10px 16px;
    color: #fff;
    background: #ff430a;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.blog-image .date h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 6px;
    line-height: 1.1;
}

.blog-image .date h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 1.1;
}

.blog-item:hover .date {
    bottom: 0;
}

.blog-text {
    background: #f5f5f5;
    padding: 20px;
}

.blog-item a.b-head {
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.blog-item a.b-head:hover {
    color: #444;
}

.blog-text ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.blog-text ul li {
    display: inline-block;
    margin-right: 10px;
}

.blog-text ul li:last-child {
    margin-right: 0;
}

.blog-text ul li a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.blog-text ul li i {
    color: #444;
    margin-right: 5px;
}

.blog-item p {
    line-height: 1.6;
    margin-top: 15px;
    margin-bottom: 0px;
}

.blog-author {
    overflow: hidden;
    background: #e6e6e6;
}

.blog-author ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.blog-author li {
    display: inline-block;
}

.blog-author li a {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    padding: 15px 10px;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.blog-author li a i {
    margin-right: 5px;
    color: #ff430a;
}

.blog-author li a:hover {
    color: #ff430a;
}

.blog-author li.blog-button {
    background: #ff430a;
    float: right;
}

.blog-author li.blog-button a {
    background: #ff430a;
    padding: 15px 30px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.blog-author li.blog-button i {
    color: #fff;
    margin: 0;
}

.blog-author li.blog-button a:hover {
    background: #ff430a;
}

.button a {
    display: inline-block;
    font-weight: 500;
    color: #fff;
    background: #ff430a;
    border-radius: 50px;
    padding: 11px 26px;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.button a i {
    margin-left: 5px;
}

.button a:hover {
    background: #444;
    border-color: #444;
    color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
/* Blog-carousel Nav */

.blog-carousel .owl-nav .owl-prev,
.blog-carousel .owl-nav .owl-next {
    position: absolute;
    top: -50px;
    right: 0;
    font-size: 20px;
    background: #ff430a;
    color: #fff;
    padding: 3px 15px;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.blog-carousel .owl-nav .owl-prev {
    margin-right: 50px;
}

.blog-carousel .owl-nav .owl-prev:hover,
.blog-carousel .owl-nav .owl-next:hover {
    background: #444;
    color: #fff;
}
/*
-------------------------------
Single-Blog
-------------------------------
*/

/* .headstyle h4 {
    display: inline-block;
    position: relative;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 9px;
    margin-bottom: 30px;
}

.headstyle h4:before {
    position: absolute;
    content: '';
    width: 70%;
    height: 1px;
    background: #f47a20;
    left: 0;
    bottom: 0;
}

.headstyle h4:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #f47a20;
    left: 0;
    bottom: -5px;
}

.single-blog .blog-image .date {
    bottom: 0;
}

.single-blog h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 8px;
}

.single-blog ul li {
    display: inline-block;
    margin-top: 2px;
    margin-right: 15px;
}

.single-blog ul li i {
    color: #444;
    margin-right: 5px;
}

.single-blog ul li a {
    text-decoration: none;
    color: #f47a20;
}

.single-blog p {
    margin: 0;
    margin-top: 15px;
} */
                /* Comment */

.comment-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-list ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.comment-list ul li:last-child {
    border: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.comment-list .comment-item {
    overflow: hidden;
    display: table;
    width: 100%;
}

.comment-list .thumb {
    display: table-cell;
    vertical-align: top;
    width: 80px;
}

.comment-list .com-text {
    display: table-cell;
    vertical-align: top;
    padding: 0 15px;
}

.comment-list .com-text h5 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px;
}

.comment-list .com-text span.date {
    margin-right: 30px;
}

.comment-list .com-text span.date i {
    color: #444;
    margin-right: 3px;
}

.comment-list .com-text span a {
    display: inline-block;
    padding: 5px 10px;
    background: #ff430a;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.comment-list .com-text span a:hover {
    background: #444;
    color: #fff;
}

.comment-list .com-text p {
    margin-top: 12px;
    margin-bottom: 0;
}

.comment-list ul ul.children {
    margin-top: 20px;
    margin-left: 40px;
}

.comment-list ul ul.children li {
    border: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.comment-form textarea {
    height: 220px;
}

/* .comment-form .btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 14px 30px;
    border: 1px solid #ff430a;
    border-radius: 0;
    background: #ff430a;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} */

.comment-form .btn:hover {
    color: #fff;
    background: #444;
    border: 1px solid #444;
}
/* Sidebar */

.sidebar {
    margin-top: 30px;
}

.sidebar-item {
    margin-top: 30px;
}

.sidebar-item:first-child {
    margin-top: 0;
}

.sidebar-item input {
    font-size: 14px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-right: 0;
    border-radius: 0;
}

.sidebar-item input:focus {
    border: 1px solid #ff430a;
    border-radius: 0;
}

.sidebar-item button:hover {
    cursor: pointer;
    color: #fff;
    background: #444;
    border: 1px solid #444;
}

.sidebar-item h3 {
    display: inline-block;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 12px;
    margin-bottom: 30px;
}

.sidebar-item h3:before {
    position: absolute;
    content: '';
    width: 70%;
    height: 1px;
    background: #ff430a;
    left: 0;
    bottom: 0;
}

.sidebar-item h3:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #ff430a;
    left: 0;
    bottom: -5px;
}

.sidebar-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-item ul li {
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1;
}

.sidebar-item ul li:first-child {
    padding-top: 0;
}

.sidebar-item ul li a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding-left: 10px;
    transition: all 0.3s;
}

/* .sidebar-item ul li a:before {
    position: absolute;
    content: '\f0da';
    font-family: fontawesome;
    top: 0;
    left: 0;
    color: #333;
} */

.sidebar-item ul li a:hover {
    color: #444;
}

.tagcloud a {
    font-size: 14px;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 7px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.tagcloud a:hover {
    color: #444;
}
/*
-------------------------------
Newsletter
-------------------------------
*/

.newsletter-area {
    text-align: center;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    position: relative;
}

.newsletter-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff430a;
    opacity: 0.4;
}

.newsletter-headline {
    margin-bottom: 30px;
}

.newsletter-headline h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 6px;
}

.newsletter-headline p {
    line-height: 1.7;
}

.newsletter-submit {
    width: 70%;
    margin: 0 auto;
}

.newsletter-submit input[type='text'] {
    width: 60%;
    height: 51px;
    text-indent: 20px;
    padding-right: 10px;
    color: #333;
}

.newsletter-submit input[type='submit'] {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    width: 20%;
    height: 52px;
    background: #444;
    color: #fff;
    margin-left: -5px;
    transition: all 0.4s;
}

.newsletter-submit input[type='submit']:hover {
    background: #444;
}
/*


.package-tab {
    border-top: 1px solid #ddd;
}

.package-tab .lg_pl_0 {
    padding-left: 0;
}

.package-tab-menu ul li {
    margin-bottom: 15px;
}

.package-tab-menu ul li a {
    display: block;
    font-size: 15px;
    font-weight: 600;
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    transition: all 0.3s;
}

.package-tab-menu ul li a:hover {
    color: #f47a20;
}

.package-tab-menu ul li.active a {
    color: #f47a20;
}

.sub-headline h4 {
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.package-content p {
    font-size: 15px;
    margin-bottom: 25px;
}

.package-content img {
    margin-bottom: 15px;
}

.package-content ul {
    list-style-type: circle;
    margin-left: 20px;
}

.package-content ul li {
    margin-bottom: 15px;
}
/*
-------------------------------
Country Package Detail
-------------------------------
*/

.myTeam-section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

 
  .feature-component {
    grid-column-gap: 8rem;
    grid-row-gap: 8rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }
  @media screen and (max-width: 991px) {
    .feature-component {
      grid-column-gap: 4rem;
      grid-row-gap: 4rem;
      grid-template-columns: 1fr;
    }
  }
#w-node-_65e61890-d034-e90a-148c-0d4b2f6bac59-7e8575ec, #w-node-_1b48a4f7-b1ca-2d4d-d6ff-b94efc74795c-7e8575ec, 
#w-node-_3c62c420-df16-cb44-96e2-f9c14d96c63a-7e8575ec, #w-node-bd6c5185-35dd-4338-4168-c45df4d6d3e3-7e8575ec, 
#w-node-ab8b1d08-db01-26a8-661e-a9cb058a2961-7e8575ec, #w-node-_6ff82cb0-fe1b-6fa9-79a2-366163e6fd51-7e8575ec, 
#w-node-_6c0dd45b-3dd1-a1d3-d574-81af355c81af-7e8575ec, #w-node-f96ae576-1c2b-fad3-12f3-1e635963dc36-7e8575ec, 
#w-node-c52412fd-005b-119d-75fa-030cb2fe6e7a-7e8575ec, #w-node-c52412fd-005b-119d-75fa-030cb2fe6e79-7e8575ec, 

#w-node-_4502053c-2632-8bb4-2e31-087ad448e94e-7e8575ec, #w-node-_4502053c-2632-8bb4-2e31-087ad448e959-7e8575ec, 
#w-node-acafb525-193e-6123-8127-6b258b836e01-7e8575ec, #w-node-acafb525-193e-6123-8127-6b258b836e0c-7e8575ec, 
#w-node-_2ad1a7c6-c0a0-30d1-a105-44181f59ce6e-7e8575ec, #w-node-_2ad1a7c6-c0a0-30d1-a105-44181f59ce6d-7e8575ec, 
#w-node-_46cb9cc9-78af-0fec-5492-fa79dbf3f123-7e8575ec, #w-node-fb0fe186-3672-ec30-44fe-021e37b691f8-7e8575ec, 
#w-node-f9c58b7a-92e8-f61e-5081-c03da28493f3-a28493d8, #w-node-f9c58b7a-92e8-f61e-5081-c03da28493f4-a28493d8, 
#w-node-f9c58b7a-92e8-f61e-5081-c03da2849400-a28493d8, #w-node-f9c58b7a-92e8-f61e-5081-c03da2849401-a28493d8, 
#w-node-f9c58b7a-92e8-f61e-5081-c03da284940d-a28493d8, #w-node-f9c58b7a-92e8-f61e-5081-c03da284940e-a28493d8, 
#w-node-_925e230e-b722-5d55-1714-0b572de59728-f031c2af, #w-node-_174858ef-ac04-a235-c674-f351fc9b3f1a-f031c2af, 
#w-node-_7581f68b-f6cf-486e-0e83-4dcdeb12a42a-f031c2af, #w-node-_4a19256c-9607-c1c0-ca3a-c2ce20ba97f2-f031c2af,
 #w-node-_56ed078b-5bd3-19f9-60ad-9b64a03113d8-f031c2af, #w-node-_56ed078b-5bd3-19f9-60ad-9b64a03113d7-f031c2af, 
 #w-node-_0fc58d3c-357e-3498-c4c1-775c6f68c94d-f031c2af, #w-node-_0fc58d3c-357e-3498-c4c1-775c6f68c939-f031c2af,
  #w-node-_7c4ee00d-b628-c7c8-3bb4-9612b1bd2be8-a9dc0933, #w-node-_7c4ee00d-b628-c7c8-3bb4-9612b1bd2bf5-a9dc0933,
   #w-node-_1eb1e503-947e-746a-c14f-7c218ad25e6b-04fef7ab, #w-node-_9d30d204-3ab5-f74b-43af-5f4c22eeb32c-04fef7ab,
    #w-node-_18de646e-cd54-ee7c-88f4-ac36cb11af28-71fcc7eb, #w-node-_18de646e-cd54-ee7c-88f4-ac36cb11af2d-71fcc7eb,
     #w-node-_3d95a11f-141f-c13a-413a-6d96ad42f630-acc5cf6b, #w-node-d500d0cf-2e93-c4b4-a30e-e08859b64230-acc5cf6b,
      #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e817e-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e817f-acc5cf6b,
       #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e8183-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e8184-acc5cf6b,
        #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e8186-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e8188-acc5cf6b,
         #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e818a-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e818c-acc5cf6b, 
         #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e818e-acc5cf6b, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fae-aec6dfb3, 
         #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fbc-aec6dfb3, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fc1-aec6dfb3, 
         #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fc6-aec6dfb3, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fcb-aec6dfb3, 
         #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fd0-aec6dfb3, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fd5-aec6dfb3, 
         #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fda-aec6dfb3, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fdf-aec6dfb3, 
         #w-node-_4a815dcf-40c2-ab55-8c60-cbf97282fc25-b7ecef0b, #w-node-_4a815dcf-40c2-ab55-8c60-cbf97282fc2f-b7ecef0b,
          #w-node-_4a815dcf-40c2-ab55-8c60-cbf97282fc37-b7ecef0b, #w-node-_4a815dcf-40c2-ab55-8c60-cbf97282fc25-8f6c0ccc {
  
    grid-area: span 1 / span 1 / span 1 / span 1;
}
.myTeamPage .memberImg img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.myTeamPage .memberImg img {
  border: 0;
}

#w-node-_65e61890-d034-e90a-148c-0d4b2f6bac59-7e8575ec, #w-node-_1b48a4f7-b1ca-2d4d-d6ff-b94efc74795c-7e8575ec, #w-node-_3c62c420-df16-cb44-96e2-f9c14d96c63a-7e8575ec, #w-node-bd6c5185-35dd-4338-4168-c45df4d6d3e3-7e8575ec, #w-node-ab8b1d08-db01-26a8-661e-a9cb058a2961-7e8575ec, #w-node-_6ff82cb0-fe1b-6fa9-79a2-366163e6fd51-7e8575ec, #w-node-_6c0dd45b-3dd1-a1d3-d574-81af355c81af-7e8575ec, #w-node-f96ae576-1c2b-fad3-12f3-1e635963dc36-7e8575ec, #w-node-c52412fd-005b-119d-75fa-030cb2fe6e7a-7e8575ec, #w-node-c52412fd-005b-119d-75fa-030cb2fe6e79-7e8575ec, #w-node-_4502053c-2632-8bb4-2e31-087ad448e94e-7e8575ec, #w-node-_4502053c-2632-8bb4-2e31-087ad448e959-7e8575ec, #w-node-acafb525-193e-6123-8127-6b258b836e01-7e8575ec, #w-node-acafb525-193e-6123-8127-6b258b836e0c-7e8575ec, #w-node-_2ad1a7c6-c0a0-30d1-a105-44181f59ce6e-7e8575ec, #w-node-_2ad1a7c6-c0a0-30d1-a105-44181f59ce6d-7e8575ec, #w-node-_46cb9cc9-78af-0fec-5492-fa79dbf3f123-7e8575ec, #w-node-fb0fe186-3672-ec30-44fe-021e37b691f8-7e8575ec, #w-node-f9c58b7a-92e8-f61e-5081-c03da28493f3-a28493d8, #w-node-f9c58b7a-92e8-f61e-5081-c03da28493f4-a28493d8, #w-node-f9c58b7a-92e8-f61e-5081-c03da2849400-a28493d8, #w-node-f9c58b7a-92e8-f61e-5081-c03da2849401-a28493d8, #w-node-f9c58b7a-92e8-f61e-5081-c03da284940d-a28493d8, #w-node-f9c58b7a-92e8-f61e-5081-c03da284940e-a28493d8, #w-node-_925e230e-b722-5d55-1714-0b572de59728-f031c2af, #w-node-_174858ef-ac04-a235-c674-f351fc9b3f1a-f031c2af, #w-node-_7581f68b-f6cf-486e-0e83-4dcdeb12a42a-f031c2af, #w-node-_4a19256c-9607-c1c0-ca3a-c2ce20ba97f2-f031c2af, #w-node-_56ed078b-5bd3-19f9-60ad-9b64a03113d8-f031c2af, #w-node-_56ed078b-5bd3-19f9-60ad-9b64a03113d7-f031c2af, #w-node-_0fc58d3c-357e-3498-c4c1-775c6f68c94d-f031c2af, #w-node-_0fc58d3c-357e-3498-c4c1-775c6f68c939-f031c2af, #w-node-_7c4ee00d-b628-c7c8-3bb4-9612b1bd2be8-a9dc0933, #w-node-_7c4ee00d-b628-c7c8-3bb4-9612b1bd2bf5-a9dc0933, #w-node-_1eb1e503-947e-746a-c14f-7c218ad25e6b-04fef7ab, #w-node-_9d30d204-3ab5-f74b-43af-5f4c22eeb32c-04fef7ab, #w-node-_18de646e-cd54-ee7c-88f4-ac36cb11af28-71fcc7eb, #w-node-_18de646e-cd54-ee7c-88f4-ac36cb11af2d-71fcc7eb, #w-node-_3d95a11f-141f-c13a-413a-6d96ad42f630-acc5cf6b, #w-node-d500d0cf-2e93-c4b4-a30e-e08859b64230-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e817e-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e817f-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e8183-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e8184-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e8186-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e8188-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e818a-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e818c-acc5cf6b, #w-node-f63a80d4-e9d9-e31d-0a4b-292f1f3e818e-acc5cf6b, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fae-aec6dfb3, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fbc-aec6dfb3, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fc1-aec6dfb3, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fc6-aec6dfb3, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fcb-aec6dfb3, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fd0-aec6dfb3, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fd5-aec6dfb3, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fda-aec6dfb3, #w-node-a92881ac-f30b-7649-ad7b-e3947a0c1fdf-aec6dfb3, #w-node-_4a815dcf-40c2-ab55-8c60-cbf97282fc25-b7ecef0b, #w-node-_4a815dcf-40c2-ab55-8c60-cbf97282fc2f-b7ecef0b, #w-node-_4a815dcf-40c2-ab55-8c60-cbf97282fc37-b7ecef0b, #w-node-_4a815dcf-40c2-ab55-8c60-cbf97282fc25-8f6c0ccc {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
.feature-text {
  grid-row-gap: 32px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

h2 {
    letter-spacing: -.05rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: 500;
    line-height: 120%;
  }

  .myButton {
    text-align: center;
    background-color: #5a21ff;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 100px;
    font-weight: 500;
    transition: background-color .3s ease-in-out;
  }
  .w-button {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
  }
  a {
    text-decoration: underline;
  }
  a {
    background-color: rgba(0, 0, 0, 0);
  }